<div class="container mt-3" style="border-bottom: 0.5px solid rgb(247, 137, 137)">
    <h4 class="mostsearch">Trusted used cars by budget</h4>
    <nav class="navbar navbar-expand-lg navbar-light pb-3">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-3 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link" style="margin-left: 20px;" href="#">
                      1-5 LAKH
                    </a>
                </li>
              <li class="nav-item dropdown">
                <a class="nav-link" style="margin-left: 20px;" href="#">
                  5-10 LAKH
                  </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" style="margin-left: 20px;" href="#">
                  10-15 LAKH
                  </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  </div>