<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h3>India’s #1</h3>
            <p>Largest Auto portal</p>
        </div>
        <div class="col-md-3">
            <h3>Car Sold</h3>
            <p>Every 4 minute</p>
        </div>
        <div class="col-md-3">
            <h3>Offers</h3>
            <p>Stay updated pay less</p>
        </div>
        <div class="col-md-3">
            <h3>Compare</h3>
            <p>Decode the right car</p>
        </div>
    </div>
</div>