<div class="container ">
    <h4 class="mostsearch mb-3">News on cars that you like</h4>
</div>
<div class="container mt-3">
    <div class="row mb-3 ">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-5">
                    <img src="https://stimg2.cardekho.com/images/carNewsimages/userimages/30384/1675850007797/GeneralNew.jpg?tr=w-360" alt="">
                </div>
                <div class="col-md-7">
                    <h5>January 2023 Was All About Maruti’s Domination In 15 O...</h5>
                    <p>At the start of 2023, two models were able to go past the 20,000-unit monthly sales milestone</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-5">
                    <img src="https://stimg2.cardekho.com/images/carNewsimages/userimages/30377/1675687097942/OfferStories.jpg?tr=w-360" alt="">
                </div>
                <div class="col-md-7"><h5>Drive Home A Renault With Savings Of Up To Rs 62,000 This Fe...</h5>
                    <p>Benefits are offered on both MY22 and MY23 units of all Renault models.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3 ">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-5">
                    <img src="https://stimg2.cardekho.com/images/carNewsimages/userimages/30400/1676126188520/GeneralNew.jpg?tr=w-360" alt="">
                </div>
                <div class="col-md-7">
                    <h5>Tata’s ICE Lineup Now Meets BS6 Phase II Emission Norm...</h5>
                    <p>The carmaker has also extended the standard warranty of all cars to 3 years/1 lakh km.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-5">
                    <img src="https://stimg2.cardekho.com/images/carNewsimages/userimages/30383/1675835863327/OfferStories.jpg?tr=w-360" alt="">
                </div>
                <div class="col-md-7">
                    <h5>Maruti Is Offering Benefits Of Up To Rs 65,000 On Its Arena ...</h5>
                    <p>The carmaker is dishing out offers on both MY22 and MY23 units, which are valid throughout this month.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mb-3">
     <div class="col-md-12"><a class="viewall" href="#">View All Brands</a>
      </div>
    </div>
  </div>