<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container-fluid p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">OVERVIEW</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">About us</a>
            </li>
            <li>
              <a href="#!" class="text-dark">FAQs</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Privacy Policy</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Terms & Conditions</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Corporate Policies</a>
            </li> <li>
              <a href="#!" class="text-dark">Investors</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">OTHERS</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-dark">Scrap my car</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Advertise with Us</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Careers</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Customer Care</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">CONNECT WITH US</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">1800 200 3000 (Toll-Free)</a>
            </li>
            <li>
              <a href="#!" class="text-dark">support@cardekho.com</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Dealer solutions</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Used Cars Business</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Contact Us</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Feedback</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <div class="row">
            <p class="text-uppercase mb-2" style="font-size: 14px;">EXPERIENCE CARDEKHO APP</p>
          <div class="col-md-6">
            <img src="https://stimg.cardekho.com/pwa/img/appstore.png" alt="">
          </div>
          <div class="col-md-6">
            <img src="https://stimg.cardekho.com/pwa/img/playstore.png" alt="">
          </div>
          </div>
          <div class="row">
            <p class="text-uppercase mb-3 mt-3" style="font-size: 11px;">CarDekho Group Ventures</p>
          <div class="col-md-6">
            <img src="https://stimg.cardekho.com/pwa/img//footer-BdLogo.svg" alt="">
          </div>
          <div class="col-md-6">
            <img src="https://stimg.cardekho.com/pwa/img//footer-rupyyLogo.svg" alt="">
          </div>
          </div>
          <div class="row">
          <div class="col-md-6">
            <img src="https://stimg.cardekho.com/pwa/img//footer-zwLogo.svg" alt="">
          </div>
          <div class="col-md-6">
            <img src="https://stimg.cardekho.com/pwa/img//footer-IdLogo.svg" alt="">
          </div>
          </div>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>