<div class="container ">
    <h4 class="mostsearch mb-3">Get trusted used cars nearby</h4>
</div>
<div class="container mt-3">
    <div class="row mb-3 ">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-6">
                <img src="https://stimg.cardekho.com/pwa/img/IconCityNew/ahmedabad.svg" alt="">
                <small>Used car in</small>
                <h5>Ahmedabad</h5>
            </div>
            <div class="col-md-6">
                <img src="https://stimg.cardekho.com/pwa/img/IconCityNew/bangalore.svg" alt="">
                <small>Used car in</small>
                <h5>Bangalore</h5>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-6">
                <img src="https://stimg.cardekho.com/pwa/img/IconCityNew/chennai.svg" alt="">
                <small>Used car in</small>
                <h5>Chennai</h5>
            </div>
            <div class="col-md-6">
                <img src="https://stimg.cardekho.com/pwa/img/IconCityNew/delhi-ncr.svg" alt="">
                <small>Used car in</small>
                <h5>Delhi NCR</h5>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-6">
                <img src="	https://stimg.cardekho.com/pwa/img/IconCityNew/delhi-ncr.svg" alt="">
                <small>Used car in</small>
                <h5>Gurgaon</h5>
            </div>
            <div class="col-md-6">
                <img src="	https://stimg.cardekho.com/pwa/img/IconCityNew/hyderabad.svg" alt="">
                <small>Used car in</small>
                <h5>Hyderabad</h5>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <h4>I am looking to buy a second hand car in</h4>
            <select id="cars" name="cars" class="locationinput">
              <option value="volvo">Select Location</option>
              <option value="saab">Saab</option>
              <option value="fiat">Fiat</option>
              <option value="audi">Audi</option>
            </select>
    </div>
</div>
<div class="container mt-3">
    <div class="row mb-3 ">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-6">
                <img src="https://stimg.cardekho.com/pwa/img/IconCityNew/jaipur.svg" alt="">
                <small>Used car in</small>
                <h5>Jaipur</h5>
            </div>
            <div class="col-md-6">
                <img src="https://stimg.cardekho.com/pwa/img/IconCityNew/kolkata.svg" alt="">
                <small>Used car in</small>
                <h5>Kolkata</h5>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-6">
                <img src="https://stimg.cardekho.com/pwa/img/IconCityNew/mumbai.svg" alt="">
                <small>Used car in</small>
                <h5>Mumbai</h5>
            </div>
            <div class="col-md-6">
                <img src="https://stimg.cardekho.com/pwa/img/IconCityNew/new-delhi.svg" alt="">
                <small>Used car in</small>
                <h5>New Delhi</h5>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-6">
                <img src="https://stimg.cardekho.com/pwa/img/IconCityNew/noida.svg" alt="">
                <small>Used car in</small>
                <h5>Noida</h5>
            </div>
            <div class="col-md-6">
                <img src="https://stimg.cardekho.com/pwa/img/IconCityNew/pune.svg" alt="">
                <small>Used car in</small>
                <h5>Pune</h5>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
    </div>
</div>
