<div class="container " style="border-bottom: 0.5px solid rgb(247, 137, 137)">
    <h4 class="mostsearch mb-3">Upcoming Cars</h4>
</div>
<div class="container">
    <div class="row mt-5 mb-3">
        <div class="col-md-3">
        <div class="card">
          <img src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Citroen/C3-EV/9111/1673871682599/front-left-side-47.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Citroen eC3</h5>
            <p style="font-size: 18px;">Rs11 - 12 Lakh</p>
            <div class="card-footer">
                <small class="text-muted">Alert Me When Launched</small>
              </div>
          </div>
        </div>
    </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Tata/Altroz-Racer/9563/1673851734915/front-left-side-47.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Tata Altroz Racer</h5>
                  <p style="font-size: 18px;">Rs10 Lakh</p>
                  <div class="card-footer">
                      <small class="text-muted">Alert Me When Launched</small>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Mercedes-Benz/EQA/8276/1611229665131/front-left-side-47.jpg?tr=w-264" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mercedes-Benz EQA</h5>
                  <p style="font-size: 18px;">Rs60 Lakh</p>
            <div class="card-footer">
                <small class="text-muted">Alert Me When Launched</small>
              </div>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Toyota/Innova-Crysta/9607/1674811994137/front-left-side-47.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Toyota Innova Crysta</h5>
                  <p style="font-size: 18px;">Rs20 - 23 Lakh </p>
                  <div class="card-footer">
                      <small class="text-muted">Alert Me When Launched</small>
                    </div>
                </div>
              </div>
        </div>
    </div>
    <a class="viewall" href="#">View All Upcoming Cars</a>
    <hr>
</div>
