<div class="container " style="border-bottom: 0.5px solid rgb(247, 137, 137)">
    <h4 class="mostsearch mb-3">Latest Cars</h4>
</div>
<div class="container mt-3">
    <div class="row mb-3 ">
        <div class="col-md-3">
        <div class="card">
          <img src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Audi/Q3-Sportback/9678/1676397851996/front-left-side-47.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Audi Q3 Sportback</h5>
            <p style="font-size: 18px;">Rs51.43 Lakh*</p>
            <div class="card-footer">
                <small class="text-muted" style="padding-left: 46px;">Check February Offer</small>
              </div>
          </div>
        </div>
    </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Renault/KWID/7897/Renault-KWID-1.0-RXL/1665817428229/front-left-side-47.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Renault KWID</h5>
                  <p style="font-size: 18px;">Rs4.70 - 6.33 Lakh*</p>
                  <div class="card-footer">
                      <small class="text-muted" style="padding-left: 46px;">Check February Offer</small>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Audi/Q7/7002/1667718548867/front-left-side-47.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Audi Q7 Technology</h5>
                  <p style="font-size: 18px;">Rs92.30 Lakh*</p>
            <div class="card-footer">
                <small class="text-muted" style="padding-left: 46px;">Check February Offer</small>
              </div>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Tata/Nexon/7297/1675664045040/front-left-side-47.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Tata Nexon</h5>
                  <p style="font-size: 18px;">Rs7.80 - 14.30 Lakh*</p>
                  <div class="card-footer">
                      <small class="text-muted" style="padding-left: 46px;">Check February Offer</small>
                    </div>
                </div>
              </div>
        </div>
    </div>
    <a class="viewall" href="#">View All Latest Cars</a>
    <hr>
</div>
