<div class="container">
    <div class="row mb-5 mt-3">
        <div class="col-md-3">
        <div class="card">
          <img src="https://stimg.cardekho.com/images/carexteriorimages/large/Maruti/Maruti-Wagon-R-2010-2012/662/1562654778935/front-left-side-47.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Maruti Wagon R</h5>
            <p style="font-size: 18px;">Starting @ Rs 1.00 Lakh</p>
                <small>175 Available Cars</small>
          </div>
        </div>
    </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://stimg.cardekho.com/images/carexteriorimages/large/Honda/Honda-City-1.5-E-MT/047.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Honda City</h5>
                  <p style="font-size: 18px;">Starting @ Rs 1.20 Lakh</p>
                      <small>190 Available Cars</small>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://stimg.cardekho.com/images/carexteriorimages/large/Maruti/Maruti-Swift-Dzire/5839/1565357681342/front-left-side-47.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Maruti Swift Dzire</h5>
                  <p style="font-size: 18px;">Starting @ Rs 1.25 Lakh</p>
                <small>121 Available Cars</small>
              </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://stimg.cardekho.com/images/car-images/large/Maruti/Swift/7083/1587199340837/front-left-side-47.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Maruti Swift</h5>
                  <p style="font-size: 18px;">Starting @ Rs 1.00 Lakh </p>
                      <small>111 Available Cars</small>
                </div>
              </div>
        </div>
    </div>
</div>
