<div class="container">
    <div class="row mb-3 mt-3">
        <div class="col-md-3">
        <div class="card">
          <img src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Maruti/Swift/7820/1675862859794/front-left-side-47.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Maruti Swift</h5>
            <p style="font-size: 18px;">Rs6 - 8.98 Lakh*</p>
            <div class="card-footer">
                <small class="text-muted" style="padding-left: 46px;">Check February Offer</small>
              </div>
          </div>
        </div>
    </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Maruti/Baleno/8674/1675858584706/front-left-side-47.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Maruti Baleno</h5>
                  <p style="font-size: 18px;">Rs6.56 - 9.83 Lakh*</p>
                  <div class="card-footer">
                      <small class="text-muted" style="padding-left: 46px;">Check February Offer</small>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Hyundai/i20/6986/1604567349336/front-left-side-47.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Hyundai i20</h5>
                  <p style="font-size: 18px;">Rs7.19 - 11.83 Lakh*</p>
            <div class="card-footer">
                <small class="text-muted" style="padding-left: 46px;">Check February Offer</small>
              </div>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Tata/Tiago/7338/Tata-Tiago-XE/1660901953609/front-left-side-47.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Tata Tiago</h5>
                  <p style="font-size: 18px;">Rs5.54 - 8.05 Lakh*; </p>
                  <div class="card-footer">
                      <small class="text-muted" style="padding-left: 46px;">Check February Offer</small>
                    </div>
                </div>
              </div>
        </div>
    </div>
    <a class="viewall" href="#">View All Hatchback Cars</a>
    <hr>
</div>
